<h3>Features stores</h3>
<hr>
<div class="container">
	<% @stores.each do |store| %>
	<div class="row">
		<div class="col-md-6 col-md-offset-4">
			<div class="card" style="width: 30rem;">
  			 <%= image_tag store.logo_url(:thumbnail)%>
  			<div class="card-block">
   			<h4 class="card-title"><%= store.name %></h4>
    		<p class="card-text"><%= store.website %></p>
    		  <a href="<%= store.website %>" class="btn btn-primary">Visit</a>
  			</div>
			</div>
		</div>
	</div>
	<hr>
	<% end %>
</div>