
<!-- footer -->
<div class="footer">
	<div class="container-fluid extend">
		<div class="row">
			<div class="col-sm-3 col-offset-2 text-center">
				<p>My Account</p>
				<ul class="list-unstyled">
					<li><a href="fablook.com">Sale</a></li>
					<li><a href="fablook.com">My Style</a></li>
					<li><a href="fablook.com">Invite Friends</a></li>
					<li><a href="fablook.com">Follow Trends</a></li>
				</ul>
			</div>
			<div class="col-sm-3 text-center">
				<p>About us</p>
				<ul class="list-unstyled">
					<li><a href="fablook.com">Blog</a></li>
					<li><a href="fablook.com">Our Brand</a></li>
					<li><a href="fablook.com">Terms of use</a></li>
					<li><a href="fablook.com">Privacy and policy</a></li>
				</ul>
			</div>

			<div class="col-sm-3 text-center newsright">
				<p>Follow Fablook</p>
				<ul class="list-inline">
              		<li><a href="https://twitter.com/truetestar" target="_blank"> <i class="fa fa-twitter social"></i></a></li>
              		<li><a href="https://facebook.com/truetestar" target="_blank"> <i class="fa fa-facebook social"></i></a></li>
              		<li><a href="https://twitter.com/truetestar" target="_blank"> <i class="fa fa-envelope social"></i></a></li>
              		<li><a href="https://twitter.com/truetestar" target="_blank"> <i class="fa fa-youtube-square social"></i></a></li>
            	</ul>	
            	<p>Sign up to our newsletter for updates</p>
				<form>
					<input type="email" class="form-control" value="" name="" placeholder="email">
					<br>
					<button class="btn btn-warning">
					Subscribe
					</button>
				</form>			
			</div>
			<div class="col-sm-3 col-offset-2 text-center">
				<p>My Account</p>
				<ul class="list-unstyled">
					<li><a href="fablook.com">Sale</a></li>
					<li><a href="fablook.com">My Style</a></li>
					<li><a href="fablook.com">Invite Friends</a></li>
					<li><a href="fablook.com">Follow Trends</a></li>
				</ul>
			</div>
		</div>	
		<hr>
		<h6 class="copy-right">© 2017 Fablook. All rights reserved.</h6>		
	</div>
</div>
<!-- //footer -->

</body>
</html>