/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
@import "social-share-button";
@import "bootstrap";
html,
body,
.form-background {
  background: image-url('1.jpg') no-repeat;
}
.view {
    height: 100%;
}
.form {
  padding-top: 100px;
}
.login {
  border: 15px;
}
.navbar-default.nav-color {
  background-color: #FDA30E;
}
.slider {
  padding-top: -20px;
}


.search {
  padding-top: 20px;
}

.coupons a {
  color: #fff; 
}
.col-md-6.verticalline {
  border-left: thick solid #f0ad4e;
}

html, body{
  font-family: 'Helvetica', sans-serif;
  margin:0;
  font-size: 20px;
  background: #fff;
}


input[type="button"],input[type="submit"]{
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  font-family: 'Roboto', sans-serif;
  
} 
p{
  margin:0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
ul{
  margin:0;
  padding:0;
}
.footer.container.extend {
  margin:0;
  padding:0;  
}
label{
  margin:0;
}
.product {
  padding-top: 50px;
}
.footer p {
  padding-top: 20px;
  color: #fda30e;

}
.coupons {
  
  min-height: 470px;
  padding-top: 110px;
}
.my-container {
    position: relative;
    overflow: hidden;
    height: 600px;
}
.my-container h1 {
    padding: 200px;
    position: relative;
    z-index: 2;
    font-size: 25px;
} 
.my-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  
}

.card {
  padding-bottom: 20px;
}
.card-img-top.img-size {
  min-height: 300px;
  max-height: 300px;
}

/* Add some padding inside the card container */
.card2 {
    padding: 2px 16px 2px 16px;
    border-color: #FDA30E;

}



.search {
    float: left;
    width: 57%;
}
.section_room{
    float: left;
    width: 33%;
}
.sear-sub{
    float: right;
    width: 10%;
}

.section_room select option {
    line-height: 1.8em;
}
/* Icons */
.footer {
  background-color: #fff;
}
.footer-bottom a {

}
.footer li a {
  color: #333}

.dropdown-menu.columns-3 {
    min-width: 700px;
    padding: 30px 30px;
}
.multi-gd-img img{
  width:100%;
}
/*-- nav-bar --*/
.navbar-default {
    background: none;
    border: none;
    min-height: inherit;
    margin: 0;
    float: left;
}


.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.link-color li {
  color: #333;
}

.navbar-nav > li > a {
    line-height: inherit;
    font-size: 21px;
    color: #333;
}

/*-- //nav-bar --*/
/* Common styles for all menus */

.menu__list {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item a{
  display: block;
  margin: 0em 0;
  color: #333;
}


/* Individual styles */
.menu--shylock .menu__link {
  position: relative;
    margin: 0;
  color: #b5b5b5;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.menu--shylock .menu__item--current .menu__link,
.menu--shylock .menu__item--current .menu__link:hover,
.menu--shylock .menu__item--current .menu__link:focus {
  color: #d94f5c;
}

.menu--shylock .menu__item--current .menu__link::after,
.menu--shylock .menu__item--current .menu__link::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.menu--shylock .menu__item--current .menu__link::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.menu--shylock .menu__link:hover,
.menu--shylock .menu__link:focus {
  color: #b5b5b5;
}

.menu--shylock .menu__link:hover::before,
.menu--shylock .menu__link:focus::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.menu--shylock .menu__link::before,
.menu--shylock .menu__link::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 5px;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transform-origin: center left;
  transform-origin: center left;
  -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu--shylock .menu__link::before {
  background: #FDA30E;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.menu--shylock .menu__link::after {
  background: #FDA30E;
}
a.menu__link {
    color: #fff !important;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
}
/*-- //left nav --*/
.top_nav_right {
    float: right;
    width: 21%;
}

.header-right ul li a:hover {
    transform: rotateY(360deg);
}
.header {
  padding-top: 60px;
}



.footer-left p{
    color: #848484;
    line-height: 2.2em;
    font-size: 14px;
    margin-top: 22px;
}
.newsright input[type="text"] {
    outline: none;
    width: 100%;
    padding: 10px 6px;
    color: #848484;
    font-size: 12px;
    border: 1px solid #dadada;
  width: 71%;
}
.newsright input[type="submit"]{
    color: #fff;
    background: #FDA30E;
    border: none;
    padding: 10px 17px 11px;
    font-size: 14px;
    outline: none;
    text-transform: uppercase;
    margin: 0 0 0 -4px;
}
.newsright input[type="submit"]:hover{
    background: #000;
}
.newsleft h3 {
    font-size: 24px;
    margin-top: 15px;
    color: #000;
}

/*-- new_arrivals --*/
.new_arrivals h3{
  color:#000;
  font-size:36px;
  text-align:center;
  margin-bottom:30px;
}
.new_arrivals h3 span{
  color:#FDA30E;
}
.new_arrivals p{
  color:#eee;
  font-size:16px;
  text-align:center;
}
.new-gd-left{
position:relative;
}
.new-gd-left img{
  width:100%;
}
.new_grids{
  margin-top:10px;
}


/*-- content --*/
.content-lgrid,.content-img-left,.content-rgrid{
  padding:0;
}
.content-lgrid{
  width:66.66%;
}
.content-rgrid {
    width: 33.334%;
}
.content-img-right {
    padding: 104px 50px 0px;
    background: #f7f7f7;
  min-height:343px;
}
/* CSS3 Hover Effects */
.img-box, .info-box {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.img-box img, .info-box img {
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.img-box {
  position: relative;
}

.info-box {
  top: 0;
  left: 0;
  position: absolute;
}
.info-box .info-content {
  display: block;
  position: relative;
  padding: 0%;
  float: left;
  left: 50%;
  top: 50%;
  position: relative;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.separator {
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.5);
    clear: both;
}

.content-grid-effect {
  display: block;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  overflow: hidden;
}
.content-grid-effect .info-content {
  z-index: 2 !important;
  filter: alpha(opacity=0);
  -wekbit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.content-grid-effect .img-box:after, .content-grid-effect .img-box:before, .content-grid-effect .info-box:after, .content-grid-effect .info-box:before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -ms-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  filter: alpha(opacity=0);
  -wekbit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.content-grid-effect.horizontal .img-box:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.content-grid-effect.horizontal .img-box:after {
  top: 25%;
  left: 0;
  width: 100%;
  height: 25%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.content-grid-effect.horizontal .info-box:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 25%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.content-grid-effect.horizontal .info-box:before {
  top: 75%;
  left: 0;
  width: 100%;
  height: calc(25% + 1px);
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.content-grid-effect.vertical .img-box:before {
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.content-grid-effect.vertical .img-box:after {
  top: 0;
  left: 25%;
  width: 25%;
  height: 100%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.content-grid-effect.vertical .info-box:after {
  top: 0;
  left: 50%;
  width: 25%;
  height: 100%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.content-grid-effect.vertical .info-box:before {
  top: 0;
  left: 75%;
  width: calc(25% + 1px);
  height: 100%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.content-grid-effect:hover .img-box:after, .content-grid-effect:hover .img-box:before, .content-grid-effect:hover .info-box:after, .content-grid-effect:hover .info-box:before {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  filter: alpha(opacity=100);
  -wekbit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.content-grid-effect:hover .info-content {
  filter: alpha(opacity=100);
  -wekbit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.slow-zoom .img-box {
  z-index: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 2.2s ease-in-out;
  -moz-transition: all 2.2s ease-in-out;
  -ms-transition: all 2.2s ease-in-out;
  -o-transition: all 2.2s ease-in-out;
  transition: all 2.2s ease-in-out;
}
.slow-zoom:hover .img-box {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.slow-zoom {
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.content-img-right h3 {
    color: #000;
    font-size: 24px;
}
.content-img-right h3 span {
    color: #FDA30E;
    display: block;
    font-size: 51px;
  margin:15px 0;
}
.info-content h4 {
    font-size: 35px;
    color: #FDA30E;
    
}
.info-content p {
    color: #fff;
    text-align: center;
    font-size: 26px;
}
.info-content a {
    text-align: center;
    padding: 10px 22px;
    color: #fff;
    font-size: 18px;
    
}
/*-- //content --*/
/*-- easy responsive tabs style--*/
.sap_tabs{
  clear:both;
  padding: 0em 0 0em;
}
.top1{
  margin-top: 2%;
}
.resp-tabs-list {
text-align:center;
  list-style: none;
    margin: 0 0 3em 0;
    padding: 0;
}
.resp-tab-item{
    margin: 0 25px;
    padding: 0 35px 25px 35px;
    text-decoration: none;
    color: #ccc;
    cursor: pointer;
    font-size: 18px;
   
    border-bottom: 2px solid #ccc;
    display: inline-block;
    text-align: center;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-transform: Capitalize;
    font-weight: 600;
}
.resp-tab-active,.resp-tab-item:hover{
  color: #333;
  border-bottom:2px solid #FDA30E;
}
.resp-tabs-container {
  padding: 0px;
  clear: left;

}
h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}
.resp-tab-content {
  display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
.product-men img {
    width: 100%;
}
.product-easy {
    padding: 90px 0;
}
/*-- effect --*/
.men-pro-item {
    position: relative;
    box-shadow: 0px 0px 15px 0px #D6D6D6;
    padding-bottom: 20px;
}
.men-thumb-item {
    position: relative;
}
.item-info-product {
    text-align: center;
    margin: 20px 0 0;
}
.product-image {
  height:200px;
}
.product {
  
}
.men-thumb-item::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0;
    z-index: 9;
    visibility: hidden;
    transition: all 0.5s ease-out 0s;
}
.men-thumb-item .pro-image-front {
    opacity: 1;
    visibility: visible;
}
.men-thumb-item img {
    transition: all 0.5s ease-out 0s;
}
.pro-image-back {
    transform: rotateY(180deg);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.men-thumb-item img {
    transition: all 0.5s ease-out 0s;
}
.men-cart-pro {
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.5s ease-out 0s;
    visibility: hidden;
    z-index: 10;
}
.product-new-top {
    background: #868686 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    right: 0;
    padding: 0 10px 1px;
    position: absolute;
    text-transform: lowercase;
    top: 0;
    z-index: 10;
}
.inner-men-cart-pro {
    height: 100%;
    position: relative;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}
.inner-men-cart-pro ul {
    left: 0;
    margin: -60px 0 0;
    padding: 0;
    position: absolute;
    top: 45%;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}
.inner-men-cart-pro .link-product-add-cart {
    width: 100%;
    bottom: -40px;
    left: 0;
    position: absolute;
    transition: all 0.5s ease-out 0s;
}
.link-product-add-cart {
    background:#000 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    
    transition: all 0.5s ease-out 0s;
}
.inner-men-cart-pro > ul > li {
    display: inline-block;
}
.inner-men-cart-pro ul li a {
    color: #fff;
    transition: all 0.5s ease-out 0s;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
}
.men-thumb-item:hover {
    cursor: pointer;
}
.men-thumb-item:hover::before {
    opacity: 1;
    visibility: visible;
}
.men-thumb-item:hover .pro-image-front {
    transform: rotateY(180deg);
    opacity: 0;
    visibility: hidden;
}
.men-thumb-item:hover .pro-image-back {
    transform: rotateY(0deg);
    opacity: 1;
    visibility: visible;
    background: #f7f7f7;
}
.men-thumb-item img {
    transition: all 0.5s ease-out 0s;
    padding: 52px 50px 20px;
}
.men-thumb-item:hover .men-cart-pro {
    opacity: 1;
    visibility: visible;
}
.men-thumb-item:hover .inner-men-cart-pro ul {
    margin: 20px 0 0;
}
.inner-men-cart-pro ul li a:hover {
    background: #FDA30E none repeat scroll 0 0;
}
.inner-men-cart-pro .link-product-add-cart {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: all 0.5s ease-out 0s;
}
.men-thumb-item:hover .inner-men-cart-pro .link-product-add-cart {
    top: 83.5%;
}
.link-product-add-cart:hover {
    background:#FDA30E none repeat scroll 0 0;
    color: #fff;
}
/*-- //effect --*/
.item-info-product h4 a {
    font-size: 18px;
    color: #FDA30E;
  text-decoration:none;
}
.info-product-price {
    margin: 15px 0;
}
.info-product-price span {
    color: #000;
    font-size: 23px;
}
.info-product-price del {
    color: #A7A7A7;
    margin-left: 10px;
}
.yes-marg{
  margin-top:30px;
}
a.single-item{
  color:#fff;
    font-size: 16px;
    padding: 3px 14px;
  text-decoration:none;
}


/*-- navigation --*/
ul.multi-column-dropdown li {
    list-style-type: none;
    line-height: 2.5em;
}
ul.multi-column-dropdown li a {
text-decoration:none;
font-size:14px;
color:#8E8E8E;
}
ul.multi-column-dropdown li a:hover{
  color:#FDA30E;
}
.col-sm-3.multi-gd-img {
    padding: 0;
}
.col-sm-6.multi-gd-img1 {
  padding-right:20px;
  padding-left:10px;
}
.multi-gd-img img,.multi-gd-img1 img {
    box-shadow: 0px 0px 7px 0px #AFAFAF;
}
/*-- //navigation --*/
.multi-gd-text a {
    display: block;
    position: relative;
}
.multi-gd-text a:hover::before {
    width: 100%;
    height: 100%;
}
.multi-gd-text a::before {
    background: rgba(0,0,0,0.1);
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    transition: all 0.5s ease-out 0s;
    z-index: 99;
    content: "";
}
.multi-gd-text img {
    height: auto;
    width: 100%;
}
.multi-gd-text a:hover::after {
    width: 100%;
    height: 100%;
}
.multi-gd-text a::after {
    background: rgba(0,0,0,0.1);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    transition: all 0.5s ease-out 0s;
    z-index: 99;
    content: "";
}

.coupons h4 {
  color: #333;
  font-size: 18px;
}
.coupons-gd span {
    background: #FDA30E;
    padding: 25px 24px;
    border-radius: 100%;
    color: #F3F3F3;
    font-size: 24px;
}
.coupons-gd h4 {
    color: #FFFFFF;
    font-size: 18px;
    margin: 40px 0 20px;
}
.coupons-gd h3 {
    color: #FDA30E;
    font-size: 23px;
    line-height: 1.8em;
  margin: 83px 0 0;
}
.coupons-gd p {
    text-align: center;
    color: #333;
    font-size: 18px;
    line-height: 2em;
    font-family: 'Helvetica', sans-serif;
}
/*-- //coupons --*/

.nav-tabs {
  border: none;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  background: #333;
  margin-right: 3px;
  border: none;
  border-radius: 0;
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  color: #555;
  padding: 12px 20px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-tabs > li > a .fa {
  margin-right: 10px;
}
.nav-tabs > li.active > a{
  border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: #FDA30E;
  border: none;
  border-radius: 0;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  color: #fff;
  background-color: #FDA30E;
}
.nav-tabs > li > a i {
  font-size: 32px;
  margin-right: 20px;
  vertical-align: middle;
}
.tab-content p {
    line-height: 2.2em;
    font-size: 14px;
}
.grid_4{
  background:#fff;
  padding:0em 0em 0em 0em;
}
.grid_5{
  background:#fff;
  padding:1em 0 2em 0;
}
.wed-brand h5 {
    margin: 20px 0;
    color: #000;
    font-size: 23px;
    text-align: center;
}
.wed-brand h4{
  font-size:23px;
  text-align:center;
  color:#000;
  
}

.wed-brand {
    position: absolute;
    top: 28%;
    left: 12%;
}
/* Outline Out */
.hvr-outline-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #FDA30E;
}
.hvr-outline-out:before {
  content: '';
  position: absolute;
  border: #FDA30E solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-out:hover:before,.hvr-outline-out:focus:before,.hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}
.wed-brand p i {
    text-decoration: line-through;
}
.wed-brand p {
    font-size: 21px;
    color: #000;
    text-align: center;
}
.wed-brand p a{
    color: #fff;
    padding: 9px 0px;
    display: block;
    margin: 25px auto 0;
    font-size: 16px;
    width: 50%;
  text-decoration:none;
}
.wed-brandtwo h4{
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
}
.wed-brandtwo {
    position: absolute;
    top: 36%;
    left: 20%;
}
.wed-brandtwo p {
    font-size: 45px;
    color: #fff;
    text-align: center;
    
}
.new-gd-middle img {
    width: 100%;
}
.new-levis {
    border: 1px solid #D2D2D2;
    background: #fff;
    padding: 45px 28px;
}
/*-- electronics --*/
.electronics{
  padding:30px 0;
}
.electro-img-btm-left{
float:left;
width:48%;
}
.electro-img-btm-right{
float:right;
width:48%;
}
.electro-text h4 {
    font-size: 24px !important;
}
.electro-text a {
    padding: 5px 11px !important;
    font-size: 14px !important;
}
.electro-img-left{
  margin-bottom:30px;
}
.ele-bottom-grid {
    margin-top: 90px;
}
.ele-bottom-grid h3 span {
    color: #FDA30E;
}
.ele-bottom-grid h3 {
    color: #000;
    font-size: 36px;
    text-align: center;
   
    margin-bottom: 30px;
}
.ele-bottom-grid p {
    color: #848484;
    font-size: 16px;
    text-align: center;
  margin-bottom:60px;
}