<div class="container">
  <h1>Our Products</h1>

  <div class="container">
    <% @products.in_groups_of(4, false) do |group| %>
      <div class="row">

        <% group.each do |product| %>
            <div class="col-md-3 product-men yes-marg card-height">
              <div class="men-pro-item simpleCart_shelfItem">
                <div class="men-thumb-item">
                  <%= image_tag product.image_url(:thumbnail) %>
                </div>
                <div class="item-info-product ">
                  <h4><a ><%= product.name %> </a></h4>
                  <div class="info-product-price">
                    <span class="item_price">$<%= product.price %></span>
                  </div>
                  <%= link_to 'View Details', product_path(product) , class: "item_add single-item hvr-outline-out button2" %>
                </div>
              </div>
            </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
