<h1>Products</h1>

<div class="container">
	<% @products.in_groups_of(3, false) do |group| %>
		<div class="row">
			
			<% group.each do |product| %>
				<div class="card gap" style="width: 20em;">
				  <%= image_tag product.image_url(:thumbnail), :width => 315, :height => 400%>
				  <div class="card-block">
				    <h4 class="card-title"><%= product.name %></h4>
				   	<h4 class="card-title">$<%= product.price %></h4>
				    <a href="#" class="btn btn-primary">BUY</a>
				    <%= social_share_button_tag(product.image_url, :allow_sites => %w(twitter facebook linkedin)) %>
				  </div>
				</div>
			<% end %>
		</div>
	<% end %>
</div>
