
<!-- banner -->
<div class="banner-top">
	<nav class="navbar navbar-fixed-top navbar-inverse ">			  
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse menu--shylock" id="nav-collapse">
				  <ul class="nav navbar-nav menu__list center">
					<li class="active menu__item menu__item--current"><a class="menu__link" href="Fablook.html">Fablook <span class="sr-only">(current)</span></a></li>
					<li class="dropdown menu__item">
						<a href="" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sale <span class="caret"></span></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="col-sm-6 multi-gd-img1 multi-gd-text ">
										<a href=""><img src="../assets/img/fab2.jpg" alt=" "></a>
									</div>
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a href="products.html">Clothing</a></li>
											<li><a href="products.html">Shoes</a></li>
											<li><a href="products.html">Bags</a></li>
											<li><a href="products.html">Watches</a></li>
											<li><a href="products.html">Accessories</a></li>
											<li><a href="products.html">Jewelry</a></li>
											<li><a href="products.html">Caps &amp; Hats</a></li>
										</ul>
									</div>
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a href="products.html">Jewellery</a></li>
											<li><a href="products.html">Sunglasses</a></li>
											<li><a href="products.html">Perfumes</a></li>
											<li><a href="products.html">Beauty</a></li>
											<li><a href="products.html">Shirts</a></li>
											<li><a href="products.html">Sunglasses</a></li>
											<li><a href="products.html">Swimwear</a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
							</ul>
					</li>
					<li class="dropdown menu__item">
						<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fabs <span class="caret"></span></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a href="products.html">Clothing</a></li>
											<li><a href="products.html">Shoes</a></li>
											<li><a href="products.html">Bags</a></li>
											<li><a href="products.html">Watches</a></li>
											<li><a href="products.html">Accessories</a></li>
											<li><a href="products.html">Jewelry</a></li>
											<li><a href="products.html">Caps &amp; Hats</a></li>
										</ul>
									</div>
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a href="products.html">Jewellery</a></li>
											<li><a href="products.html">Sunglasses</a></li>
											<li><a href="products.html">Perfumes</a></li>
											<li><a href="products.html">Beauty</a></li>
											<li><a href="products.html">Shirts</a></li>
											<li><a href="products.html">Sunglasses</a></li>
											<li><a href="products.html">Swimwear</a></li>
										</ul>
									</div>
									<div class="col-sm-6 multi-gd-img multi-gd-text ">
										<a href=""><img src="../assets/img/fab2.jpg" alt=" "></a>
									</div>
									<div class="clearfix"></div>
								</div>
							</ul>
					</li>
				  </ul>
				  <ul class="nav navbar-nav menu__list pull-right">
				  	<li class="menu__item"><a class="menu__link" href="https://medium.com/@TessieWaithira">Blog</a></li>
				  	<li class=" menu__item"><a class="menu__link" href="../form/index.html">My Style</a></li>				  	
				  </ul>
				</div>
			  
	
	</nav>	
</div>
<!-- //banner-top -->
<!-- header -->
<div class="header">
	<div class="container">
		<ul>
			<li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>Your world of fashion</li>
			<li>
				<form class="">
					<input class="form-control" type="text" placeholder="Find style" id="search" name="search">					
				</form>
			</li>
			<li><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Fablook Socials</li>
		</ul>
	</div>
</div>
<!-- //header -->   
</div>